.updateToGarden {
    border-radius: 4px;
    transition-duration: 0.2s;
    background-color: #228B22;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 3px 15px 3px 15px ;
}

.updateToGarden:hover {
    background-color: #1cc21c;
    color: white;
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.5);
}

.inputBox {
    height: 25px;
    margin-top: 5px;
}